html {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	min-height: 100%;
	margin: 0;
}

.header {
	display: flex;
	flex: 1;
	height: 18%;
	background-color: #333333;
}

.headerLeft {
	max-width: 30%;
	display: flex;
	flex: 1;
	/*outline: 3px dashed green;*/
}

.headerRight {
	width: 60%;
	display: flex;
	flex: 1;
	/*outline: 3px dashed tomato;*/
	flex-direction: column;
}

button:hover {
	cursor: pointer;
}

.headerContainerDOWN {
	margin-right: 10px;
	display: flex;
	flex: 1; 
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.signuplink {
	color: white;
	padding-right: 30px;
}

link {
	cursor: pointer;
}

strong {
	color: yellow;
}

.logintext {
	color: white;
}

.inputi, .submit{
	border-radius: 3px;
	margin-left: 10px;
	padding-left: 10px;
}

.ime {
	margin-top: 0;
	height: 100%;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	font-size: 300%;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	/*outline: 1px dashed black;*/
}

.blinking{
    animation:blinkingText 1.8s infinite;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
@keyframes blinkingText{
    from {background-color: red;}
    to {background-color: yellow;}
}

	display: flex;.navigacija {
	height: 4%;

	flex: 1;
	background-color: #bfbfbf;
	/*outline: 1px dashed tomato;*/
}

.nav {
	flex-direction: column;
	flex: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*outline: 2px dashed tomato;*/
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
	color: black;
	background-color: white;
	font-weight: bold;
}

.main {
	display: flex;
	flex: 1;
	margin: 0 auto;
	/*outline: 1px dashed tomato;*/
}

.left {
	width: 50%;
	position: relative;
	cursor: pointer;
	/*outline: 1px dashed orange;*/
}
.left:hover, 
.right:hover {
	transform: scale(1.1);
	transition: transform .5s;
}

.kuce {
	position: absolute;
	top: calc(45% - 25px);
	left: calc(50% - 114px);
	font-size: 100px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.mainpics {
	
	width: 100%;
	height: 100%;
}

/*.mainpics:hover {
	transform: scale(1.2);
	transition: transform .5s;
}
*/
.right {
	width: 50%;
	position: relative;
	cursor: pointer;
	/*outline: 1px dashed yellow;*/
}

.stanovi {
	position: absolute;
	top: calc(45% - 25px);
	right: calc(50% - 167px);
	font-size: 100px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.content {
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	flex: 1;
	
}

.signup {
	margin: 0 auto;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
}

.inputi2, .submit2 {
	height: 24px;
	border-radius: 3px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.li2 {
	width: calc(100%/6);
}

.footer {
	display: flex;
	flex: 1;
	height: 18%;
	background-color: #333333;
}

.footerLeft,
.footerRight {
	width: 50%;
}

.footerLeft {
	display: flex;
	align-items: center;
}

.footerRight {
	display: flex;
	justify-content: flex-end;
}

.footertext,
.socialmedia {
	padding-left: 10px;
	color: white;
	align-items: center;
}	

.folowus {
	display: flex;
	align-items: center;
}

.fa {
	margin: 0 2px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.socialmedia,
.fa {
	padding-right: 10px;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}